extends _layout

block content
  .container
    .hero-unit
        h1.herocenter Modubot
        p.herocenter
          | Modubot: the scalable, extensible IRC Bot.
        br
        p.herocenter
          a.btn-large.btn-info(href='https://github.com/Modubot/Modubot.js') Github Project
        p.herocenter.pull-right
          small
            a(href="https://php.modubot.net") Looking for the php version of Modubot?
    .container
      .row
        .span6
          .row
            .span6
              h3 Modular
              p
                | The bot is fully object orientated. So it's really easy to extend using a structure that everyone uses.
            .span6
              h3 Easy to use
              p
                | For everyone, suitable to developers from beginners to experts.
        .span6
          .row
            .span6
              h3 Cross-Platform
              p
                | No platform specific features. Modubot will run on any operating system where NodeJS is installed.
            .span6
              h3 Live demo!
              p
                | Try Modubot out in <a href="http://webchat.freenode.net/?channels=modubot&uio=d4">#modubot on freenode.</a>
